/* GENERAL */
/* fonts: google font lato */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-weight para regular 400 y font-weight para bold 700 */
.ft_latoBold {
    font-weight: 700;
}
* { /* reset valores default navegador*/
    box-sizing: border-box;     /* une las capas de los boxes */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;    /* Para que el scrolleo en la one page sea suave */
    background-color: #fbfbfb;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
}
ul { /* lista no ordenada para texto de contacto */
    list-style: none;   /* listas desordenadas sin los puntos */
}
main { /* se justifica solo */
    max-width: 1200px;
    margin: auto;
}
a { /* enlaces heredan el color de texto y no tengan subrayado */
    text-decoration: none;
    color: inherit;
}

/* ENCABEZADO */
.div_flex { /* contenedor flexible */
    display: flex;
}
#bx_encabezado { /* box para encabezado */
    height: 90px;
    margin-bottom: 40px;
    box-shadow: 0px 10px 10px 5px gainsboro; /* efcto de redondeo de borde */
    justify-content: space-between; /* ordenamiento flexible eje principal*/
    align-items: center; /* ordenamiento flexible eje secundario*/
    /* parametros generales para fijar el encabezado */
    width: 100%; /* para que el encabezado ocupe todo el ancho */
	left: 0; /* posiciona el encabezado en el extremo izquierdo de la pantalla */
	top: 0; /* posiciona el encabezado en la parte mas alta de la pantalla */
	position: fixed; /* fijar el encabezado */
}
#lg_personal { /* logo personal encabezado */
    width: 140px;
    height: 75px;
    margin: 10px 0px 0px 20px;
}
.ft_anclas { /* tamaño fuente de anclas */
    font-size: 20px;
}
#bx_contacto { /* box ancla contacto */
    margin-right: 30px;
}

/* DATOS PERSONALES */
#sc_datosPersonales { /* seccion datos personales */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;   
    /* permite que el contenido baje del espacio del encabezado fijo */
}
#ig_foto { /* imagen foto personal */
    margin-bottom: 28px;
    border-radius: 200px;
}
#tx_titPrincipal { /* texto titulo principal */
    font-size: 36px;
    margin-bottom: 28px;
}
.tx_datosPersonales1 { /* texto datos personales 1 */
    text-align: center;
    margin: 0px 20px;
}
.tx_datosPersonales2 { /* texto datos personales 2 */
    text-align: center;
    margin: 20px 20px 0px;
}
#tx_ultimoDatoPersonal { /*ultimo texto de datos personales */
    margin-bottom: 25px;
}
#bt_descargaCv { /* boton descarga de cv */
    border: 1px solid #2e518b; 
    border-radius: 25px; 
    padding: 13px 35px;
    background-color: #af599e; 
    color: #fbfbfb; 
    font-size: 20px;
}

/* SECCION CONTACTO */
#bx_secContacto { /* box seccion de contacto */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 220px 20px 40px;
    background-color: rgb(175, 89, 158, 0.3);
    border: 1px solid rgba(175, 89, 158, 0.3);
    border-radius: 20px;
    height: 320px;
}
#tx_titSecundario { /*texto titulo secundario */
    font-size: 28px;
    background-color: rgb(175, 89, 158, 0);
    color: #0f0f0f;
    margin-top: 40px;
}
.bx_txtContacto { /* box texto de contacto */
    text-align: center;
    background-color: rgb(175, 89, 158, 0);
    color: #0f0f0f;
    margin: 20px 20px 0px
}
#tm_ultTxtContacto { /* ultimo texto de contacto */
    text-align: center;
    background-color: rgb(175, 89, 158, 0);
    color: #0f0f0f;
    margin: 20px 20px 70px;
}
#bx_redesSociales { /* box redes sociales */
    flex-direction: row;
    height: 90px;
    margin-bottom: 100px;
    justify-content: space-evenly;
    align-items: center;
}
.tm_iconoRedSocial { /* tamaño icono red social*/
    font-size: 60px;
}
#cl_iconoMail { /* color icono mail */
    color: hwb(63 22% 19%);
}
#cl_iconoGithub { /* color icono github */
    color:black;
}
#cl_iconoLinkedin { /* color icono linkedin */
    color:blue;
}

/* SECCION FOOTER */
#bx_footer { /* box footer */
    height: 90px;
    background-color: #af599e;
    justify-content: center;
    align-items: center;
}
#tx_footer { /* texto footer */
    color: #fbfbfb;
    background-color: #af599e;
    text-align: center;
}